#modalOverlay,
#modalDeleteOverlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);

    display: none;
    align-items: center;
    justify-content: center;

    z-index: 1000;
}

#modalOverlay.active,
#modalDeleteOverlay.active {
    display: flex;
}

#modalEdit,
#modalDelete {
    background: white;
    padding: 24px;
    border-radius: 10px;

    width: 100%;
    max-width: 500px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

#modalEdit input,
#modalEdit select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
}